#drop_zone {
    border: 2px dashed blue;
    padding: 30px;
    width:  300px;
    height: 100px;
    margin: 20px 0;
}

#drop_zone.highlight {
    background-color: darkgray;
}

#preview {
    max-width: 300px;
    max-height: 300px;
}

#link_previewer {
    width: 340px;
    font-size: 14px;
    padding: 2px;
}

.hide {
    display: none;
}